.my-toolbar {
  background-color: #041C23;
}

.my-card {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;

}

.my-form {
  width: 70%;
  margin-left: 15%;
}

.full-width {
  width: 100%;
}

.my-button {
  margin-left: 85%
}


